{# app/Resources/views/blog/home.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {% for item in posts %}
        <h1> {{ item.getAuthor() }}</h1>
        <p>{{item.getContent()}}</p>
    {% endfor %}

{#    {{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#   {{ form_end(form) }} #}

{% endblock  %}
